<div>
    <h1>{{company.name}}</h1>
    <p>{{company.description}}</p>
    <div>
        {{company.commnents}}
    </div>


    <form method="POST" action="/comments/{{company.id}}/create">
        <label>Comment</label>
        <input class="form-control" id="Comment" name="comment" placeholder="Enter comment">
    </form>
   <button type="submit">Send comment</button>

</div>